.table {
    width: 100%;
    border: 1px solid #ffd1b3;
    margin-top: 1rem;
    border-radius: 5px;
    padding: 0.5rem 1rem;
}

.table td {
    height: 3rem;
    color: darkred;
}

.table td img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    border-radius: 100rem;
    transition: transform 0.2s ease;
}

.table td img:hover {
    transform: scale(1.03);
}

.table h3 {
    margin-top: 0.5rem;
    margin-left: 0.3rem;
    color: darkred;
}

.table a:hover {
    opacity: 0.9;
}


