.container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    margin-bottom: 10rem;
  }
  
  .list {
    margin: 1rem;
    max-width: 70rem;
  }
  
  a.add_food {
    display: inline-block;
    background: linear-gradient(180deg, #ff7e5f, #d94e4e);
    color: white;
    padding: 0.7rem;
    margin: 0.8rem 0;
    border-radius: 1.5rem;
    transition: transform 0.3s ease;
  }
  
  a.add_food:hover {
    transform: scale(1.03);
  }
  
  .list_item {
    display: grid;
    grid-template-columns:
      minmax(5rem, 7rem)
      minmax(10rem, 20rem)
      minmax(5rem, 10rem)
      minmax(5rem, 10rem);
    font-size: 1.2rem;
    height: 5rem;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ffd1b3;
  }
  
  .list_item img {
    width: 4rem;
    height: 4rem;
    border-radius: 100rem;
    object-fit: cover;
  }

  .link {
    color: darkred;
    transition: color 0.3s ease;
  }

  .link:hover {
    color: #e72929;
  }
  
  .actions > a {
    margin-right: 1rem;
    color: #e72929;
    cursor: pointer;
    transition: color 0.5s ease;
  }

  .actions > a:hover {
    color: darkred;
  }