.container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    font-size: 1.2rem;
  }
  
  .list {
    width: 100%;
    max-width: 50rem;
    color: darkred;
  }
  
  .list_item {
    display: grid;
    grid-template-columns: 20% 35% 20% 10% 15%;
    gap: 1%;
    align-items: center;
    border-bottom: 1px solid #ffd1b3;
    min-height: 3rem;
  }
  .list_item span {
    color: black;
  }

  .link {
    color: #e72929;
    transition: color 0.3s ease;
  }

  .link:hover {
    color: darkred;
  }
  
  .list_item > * {
    word-wrap: break-word;
  }
  
  h3 {
    margin-left: 0;
  }
  
  .actions {
    display: flex;
    gap: 0.7rem;
  }