.list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    list-style-type: none;
    padding: 0;
}

.list li a {
    height: 22.5rem;
    width: 20rem;
    border: 1px solid #ffd1b3;
    border-radius: 1rem;
    margin: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    color: #d94e4e;
}

.image {
    object-fit: cover;
    height: 14.5rem;
}

.content {
    margin-top: 0.3rem;
    padding: 0.5rem 0.1rem;
    position: relative;
    height: 7rem;
    margin-left: 0.3rem;
    margin-right: 0.3rem;
}

.favourite {
    position: absolute;
    top: 0.5rem;
    right: 0.7rem;
    font-size: 1.2rem;
}

.favourite.not {
    color: #b0b0b0;
}

.stars {
    margin: 0.5rem 0;
}

.product_item_footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.origins span {
    border-radius: 2rem;
    background-color: #ffd1b3;
    display: inline-block;
    font-size: 0.8rem;
    color: #6b6b6b;
    margin-right: 0.3rem;
    padding: 0 0.5rem;
    margin-top: 0.2rem;
}

.origins {
    flex: 9;
}

.cook_time {
    font-size: 0.9rem;
    flex: 3;
    text-align: right;
}

.price {
    position: absolute;
    bottom: 0;
    left: 0.3rem;
    background-color: #fff;
    padding: 0.3rem 100% 0 0;
    color: rgb(61, 160, 61);
    font-weight: 600;
    margin-top: 0.7rem;
    font-size: 1.1rem;
}
